<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
%html(class="no-js" lang="en")
	%head
		%title Delhi Travel Itinerary
		%meta(charset="utf-8")
		%meta(name="viewport" content="width=device-width")
		
		/js libs
		%script(type="text/javascript" src= "http://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js")
		%script(type="text/javascript" src="./js/foundation.min.js")
		%script(type="text/javascript" src="./js/app.js")
		%script(type="text/javascript" src= "./js/jquery.cookie.js")
		%script(type="text/javascript" src= "./js/jquery.handleStorage.min.js")
		
		/google maps api
		<script src="http://maps.google.com/maps?file=api&amp;v=3&amp;sensor=true&amp;key=ABQIAAAAOfgpAUa7iml68v1cKgWOnRSBX20pt0ZeXCc4eaufvYgMOHufdBS6sFkSJ1BM1yzzRNOdwaMfiBqRZw" type="text/javascript"></script>
		<script language="Javascript" type="text/javascript" src="http://wadehammes.com/dewey-beach/map.js"></script>
		
		
		/functionality
		
		%script(type="text/javascript" src= "./js/functionality.js")
		
		/css
		%link(rel="stylesheet" type="text/css" href="./css/foundation.min.css")
		%link(rel="stylesheet" type="text/css" href="./css/app.css")
	%body(onload="initialize()")
		= yield
		/maps 
		%div(id="map_canvas" style="position: absolute; top: 0; bottom: 0; left: 0; right: 0; z-index: 0;")
